body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: orange;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header nav ul li {
display: inline;
margin: 0 10px;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
  margin-right: 20px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 30px;
}

section {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.place {
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.place img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

input[type="text"],
input[type="email"],
button {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  background-color: orange; 
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff9933; 
}

.copyright {
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo img {
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
}

div {
display: block;
unicode-bidi: isolate;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
display: block;
font-size: 40px;
text-align: center;
}

ul {
display: block;
list-style-type: disc;
font-size: 18px;
padding-inline-start: 16px;
unicode-bidi: isolate;
text-align: center;
}